/************************************/
/********** Custom Font ************/
/************************************/
/* Downloaded from https://fonts.google.com/specimen/Inter */
@font-face {
  font-family: Inter;
  src: url('./assets/font/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src: url('./assets/font/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Inter;
  src: url('./assets/font/Inter-Regular.ttf');
  font-weight: 400;
}

/************************************/
/************ Global CSS ************/
/************************************/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
  font-size: 14px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #FFFFFF !important;
  color: #000000;
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 1700px) {
  main .container {
    max-width: 100%;
    padding: 0 150px;
  }
}

/* Animations for Sections: About Me, Skills, Projects, Contact Me */

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


/************************************/
/************ Navbar CSS ************/
/************************************/
nav.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
  background-color: rgba(18, 18, 18, 0.95);
  backdrop-filter: blur(5px);
  /* Apply backdrop filter blur */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5%; /* Adjust the left padding to match your desired spacing */
  padding-right: 5%; /* Adjust the right padding to match your desired spacing */
}

/* Hide icons and Let's Connect button in collapsed navbar */
@media (max-width: 991.98px) {
  nav.navbar .navbar-collapse .social-icon,
  nav.navbar .navbar-collapse .vvd {
    display: none;
  }
}

nav.navbar.scrolled {
  padding: 0px 0px;
  background-color: rgba(18, 18, 18, 0.95);
}

nav.navbar a.navbar-brand img {
  width: 150px;
  padding: 5%;
  margin-right: 10em;
  /* Set a fixed width for your logo */
  /* Add more styles as needed */
  max-width: 100%; /* Adjust the max-width as needed */
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 20px 20px;
  font-size: 18px;
  opacity: 0.75;
}

.navbar .navbar-nav .nav-link[href="#about-me"] {
  white-space: nowrap;
}

nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}

.navbar-text {
  display: flex;
  order: 2; /* Move the button to the right */
  /* Add any necessary styles */
}

.social-icon {
  display: flex;
  align-items: center;
  order: 1; /* Move the social icons to the left */
  /* Add any necessary styles */
}

/* CSS for the navigation links */
.nav-link {
  position: relative;
  color: #fff;
  text-decoration: none;
  transition: border-bottom 0.3s ease-in-out;
}

/* White underline for navbar links on hover or when active */
.nav-link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  /* Underline animation on hover */
}

/* Displays the underline fully on hover or when active */
.nav-link:hover::before,
.nav-link.active::before {
  width: 100%;
  border-bottom: 2px solid #fff;
}


/* Remove margin and adjust spacing for social icons */
.social-icon {
  display: inline-block;
  padding-left: 2em;
  transform: translateY(8px);
}

/* Adjust margin for the Let's Connect button */
.navbar-text .vvd {}

.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 2em;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}

.social-icon a:hover::before {
  transform: scale(1);
}

.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbar-text .social-icon {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

.navbar-text button {
  display: block;
  margin: 0 auto;

  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.navbar-text button span {
  z-index: 1;

}

.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbar-text button:hover {
  color: #121212;
}

.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}

nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  float: right;
  border-bottom: 2px solid #fff;
  padding: 5%;
  transition: all 300ms linear;
  top: -2px;
}

nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}

nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}

nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

/* CSS for collapsed (mobile) navbar */
.navbar-collapse {
  text-align: center;
  padding-top: 20px;
  display: block;
  margin-bottom: 10px;
}

/************************************/
/************ Banner Css ************/
/************************************/

.banner {
  margin-top: 0;
  height: 100vh;
  /* Banner takes up 100% of the viewport height */
  min-height: 30em;
  background-image: url('./assets/img/banner-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Banner Textbox */
.banner>.container {
  position: absolute;
  width: 90%;
  max-width: 1200px;
  background-color: rgba(18, 18, 18, 0.5);
  
  border-radius: 1em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  width: 90%;
  padding: 3em 3em 3em 3em;
  z-index: 1;
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.banner h2 {
  color: #fff;
  margin-bottom: 0;
  -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* Banner Name with focus-in-expand animation */
.banner-name {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
  padding-top: 0.1rem;
  line-height: 1;
  -webkit-animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: focus-in-expand 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* Banner professional summary text above resume buttons */
.banner p {
  margin-top: 1em;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 0.8px;
  line-height: 1.2em;
  width: 96%;
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
  animation: focus-in-expand 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}


/* Banner 'View Resume' and 'Learn More' Buttons */
.banner button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

/*Button animation to slide in white background on hover*/
.banner button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 20px);
  /* Adjust width to include the padding */
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  /* Adjust border radius to match the button */
  z-index: -1;
  transform: translateX(-110%);
  /* Initially move the white box out of view */
  transition: transform 0.3s ease-in-out;
}

/* Moves the white box into view on button hover */
.banner button:hover::before {
  transform: translateX(-20px);
}

/* Changes text color to black on button hover */
.banner button:hover {
  color: #000;
}


@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }

}

/*Button animation to slide in buttons from bottom*/
.banner button {
  -webkit-animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s both;
  animation: slide-in-blurred-bottom 1.5s cubic-bezier(0.230, 1.000, 0.320, 1.000) 1.5s both;
}

@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.banner button:hover svg {
  margin-left: 25px;
}

.banner .button-group {
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.banner .button-group button {
  margin: 0 5px;
}

/* Banner typing animation */
.txt-rotate>.wrap {
  border-right: 0.08em solid #666;
}

/* Icon Marquee */
.marquee {
  width: 100%;
  height: 8em;
  /* Adjust the height as needed */
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 5%;
  /* Set 5% from the bottom */
  background: rgb(255 255 255 / 0.1%);
  backdrop-filter: blur(5px);
  /* Backdrop filter blur */
  box-shadow: 0 2rem 2rem 0.4rem rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Styles for the marquee container */

/* 'My Tech Stack' label */
.marquee-label {
  height: 8em;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 6%;
  height: 7em;
  padding-top: 2.4em;
  padding-bottom: 2.4em;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  color: white;
  background: linear-gradient(to right, #121212 85%, rgba(18, 18, 18, 0) 100%);
  font-size: 14px;
  z-index: 9999;
  font-weight: 700;
}

.marquee-label::after {
  content: '';
  position: absolute;
  bottom: 30%;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: white; /* Solid white color */
  z-index: 2; /* Ensure it's above the background but below the text */
}


/* Animation for Marquee */
.marquee__inner-wrap {
  height: 100%;
  display: flex;
  animation: marquee 25s linear infinite;
}

/* Marquee Inner Container */
.marquee__inner {
  display: flex;
  align-items: center;
}

/* Marquee Text Icon Labels */
.marquee span {
  color: #ddd;
  font-size: 1rem;
  padding: 0 10px;
  white-space: nowrap;
}

/* Marquee Icon Images with animation to increase opacity and size on hover*/
.marquee__img {
  width: 80px;
  height: 80px;
  margin: 0 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.marquee__img:hover {
  opacity: 1.0;
  transform: scale(1.10);
}

/* Keyframes for marquee animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Font sizes for different screen sizes */
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 11px;
  }
}


/* Additional media queries for extremely small screens */
@media screen and (max-width: 320px) {
  html {
    font-size: 10px;
  }
}


/************************************/
/********** About Me CSS ************/
/************************************/

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  background-color: #121212;
  animation: fade-bottom 1s ease-in-out;
}

/* Header styling */
.about-me h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #fff;
  position: relative;
}

.about-me h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 0.20em;
  background-color: white;
}


/* Paragraph styling */
.about-me p {
  color: rgb(255, 255, 255, 0.9);
  font-size: 1.2rem;
  line-height: 1.8;
}

/* Learn More button styles */
.learn-more {
  font-weight: bold;
  text-decoration: none;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.learn-more:hover {

  color: #333;
  background-color: #fff;
}

/* Custom styling for the unordered list */
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 15px;
}

/* Style for list items */
li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: rgb(255, 255, 255, 0.9);
  /* Adjust text color */
}


/* Additional styles for the sliding animation */
.hidden-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.hidden-content.expanded {
  max-height: 500px;
}

/************ Skills Css ************/

.skill {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  animation: fade-left 1s ease-in-out;
  font-size: 1.2rem;
  line-height: 1.4;
}

/* Skill Section Header */
.skill h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #121212;
  position: relative;
  margin-bottom: 0.6em;

}

/* Black Underline for Header */
.skill h2::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 0.20em;
  background-color: black
}


/* Tech Boxes*/
.tech-box {
  background-color: rgb(18, 18, 18 / 100%);
  opacity: 0.8;
  padding: 20px;
  margin-top: 2em;
  margin-bottom: 20px;
  transition: opacity 0.3s ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  text-align: center;
  font-size: 1.1em;
  background-color: rgba(18, 18, 18, 0.05);
}

/* Change background to white and increase opacity on hover */
.tech-box:hover {
  background-color: rgba(255, 255, 255, 1);
  -webkit-transition: background-color 700ms linear;
  -ms-transition: background-color 700ms linear;
  transition: background-color 700ms linear;

  opacity: 0.9;
  -webkit-animation: shadow-drop-2-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: shadow-drop-2-bottom 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}

@keyframes shadow-drop-2-bottom {
  0% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    -webkit-transform: translateZ(50px) translateY(-12px);
    transform: translateZ(50px) translateY(-12px);
    -webkit-box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
    box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.35);
  }
}


/* Tech Box Description Text */
.tech-box div {
  font-size: 0.85em;
}

/* Tech Box Headings */
.tech-box h3 {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 15px;
  color: #121212;
  /* Dark text color */
  overflow: hidden;
}

/* Style for the icons container */
.icons-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

/* Style for individual icon container */
.icon {
  text-align: center;
  margin: 10px;
  position: relative;
}

/* Style for tech icons */
.tech-icon {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;

}

/* Hover effect: Scale the icons */
.tech-icon:hover {
  transform: scale(1.4);
}

/* Style for the text label */
.icon-label {
  display: block;
  font-size: 12px;
  color: #121212;
  text-align: center;
  margin-top: 10px;
}

.skill-slider {
  width: 80%;
  margin: 60px auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

/************************************/
/*********** Projects CSS ***********/
/************************************/

.project {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  background-color: #222222;
  background-image: url('./assets/img/proj-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  animation: fade-right 1s ease-in-out;
}

/* Projects Heading */
.project h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  position: relative;
  margin-bottom: 0.5em;
}

/* Projects Filter(All/Web/Desktop) Tab Menu*/
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;

}

/* Each Tab takes up 33% of the menu*/
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}


.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 1em;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}

.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}

.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #000;
  background-color: #fff;
}

.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}

.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}


/* Styles for Each Project Row */

/* Project Image Box */
.proj-imgbx {
  position: relative;
  width: 100%;
  height: 100%;

}

/* Project Image */
.proj-imgbx img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Project Description Container */
.proj-txtx {
  margin: 1em 1em 1em 1em;
}

/* Project tags container */
.tags-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 5px;
  margin-bottom: 2em;
}

/* Styles for each individual tag */
.tag {
  color: white;
  font-size: 0.9em;
  font-weight: 700;
  border: 1px solid white;
  color: #fff;
  padding: 0.3em 1em 0.3em 1em;
  border-radius: 20px;
}

/* Main Project Title */
.project h3 {
  font-weight: 700;
  color: #fff;
  margin-bottom: 0px;
  margin-right: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: calc(10px + 1.8vw);
}

/* Project Subtitle */
.project h4 {
  font-size: calc(10px + 1vw);   /* Responsive font size for h4 */
  font-weight: 500;
  color: #fff;
  margin-top: 0.1em;
  margin-right: 1em;
  letter-spacing: 0.03em;
  line-height: 1em;
}

/* Project description text*/
.proj-txtx span {
  font-weight: 400;
  font-size: 0.7em;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: #fff;
  margin: 200 200 200 200;
}

/* View on Github Button */
.project button {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
  border: 1px solid #fff;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  margin-top: 2em;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.project button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 20px);
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  z-index: -1;
  transform: translateX(-110%);
  transition: transform 0.3s ease-in-out;
}

  /* Moves the white box background into view on button hover */
.project button:hover::before {
  transform: translateX(-20px);
}

  /* Changes text color to black on button hover */
.project button:hover {
  color: #000;
}

/* Animation to move right arrow icon in 'View on Github' button */
.project button svg {
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}

.project button:hover svg {
  margin-left: 25px;
}

/**************************************/
/************ Contact CSS ************/
/**************************************/

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  animation: fade-bottom 1s ease-in-out;
}

.contact h2 {
  font-size: 4em;
  font-weight: 700;
  padding-top: 50px;
  position: relative;
  color: #121212;
}

.contact h3 {
  font-size: 1.5em;
  font-weight: 500;
  position: relative;
  color: #121212;
  padding-bottom: 1em;
}

.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  color: #000;
  margin: 0 0 8px 0;
  padding: 20px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}

.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 18px;
  font-weight: 400;
  color: #383838;
}

.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #383838;
  opacity: 0.8;
}

.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  margin-bottom: 3%;
  border: 2px solid #121212;
  font-size: 18px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}

.contact form button span {
  z-index: 1;
  position: relative;

}

.contact form button:hover {
  color: #fff;
}

.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}

.contact form button:hover::before {
  width: 100%;
}

/************************************/
/************ Footer CSS ************/
/************************************/
.footer {
  background-color: #121212;
}

.footer img {
  width: 150px;
}

.footer .social-icon {
  margin-top:4%;
  transform: translateY(0px);
}

.footer p {
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.5px;
  margin-top: 20px;
  margin-left: 1em;
  margin-right: 1em;
}

/* Media query for smaller screens (max-width: 767px) */
@media screen and (max-width: 767px) {
  .footer .social-icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .footer img {
    width: 120px;
  margin-bottom: 5%;
  }

  .footer .text-lg-right.text-center,
  .footer .text-lg-left.text-center {
    text-align: center !important;
    margin-top: 10px;
  }
}